/*red - #ae0309  hover - #c94c48
  yellow #f3a602 hover - #f6c053
 */

tfoot {
  height: 50px;
  width: 50px;
}

tbody.main-body {
  display: block;
  border: 1px solid #729ea7;
  border-collapse: separate;
  border-spacing: 2px;
  margin-top: 2px;
}

td {
  width: 50px;
  height: 50px;
  background-color: #48aae9;
  text-align: center;
}

td.add-col,
td.add-row,
td.del-row,
td.del-col {
  cursor: pointer;
  color: white;
  font-size: 20px;
  font-weight: 700;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 600ms;
}

td.add-col:hover,
td.add-row:hover,
td.del-row:hover,
td.del-col:hover {
  opacity: .6;
}

tr:first-child td.add-col,
td.add-row {
  background-color: #f3a602;
}

tr:not(:first-child) td.add-col,
td.del-row,
td.del-col {
  background-color: white;
  cursor: default;
}
