table.main {
  border: 1px solid #729ea7;
  border-spacing: 2px;
}

td {
  width: 50px;
  height: 50px;
  text-align: center;
}

div.center {
  display: inline-block;
}

table.left-col,
table.right-col {
  display: inline-block;
  border-bottom: solid 1px white;
}

table.left-col {
  margin-right: -4px;
}

table.right-col {
  margin-left: -4px;
}

table.head,
table.foot {
  border-left: solid 1px white;
}

table.left-col tr:last-child td,
table.right-col tr:last-child td {
  border-top: solid 2px white;
}

td.td-blue {
  background-color: #48aae9;
}

td.add-col,
td.add-row {
  background-color: #f3a602;
}

td.add-col,
td.add-row,
td.del-row,
td.del-col {
  cursor: pointer;
  color: white;
  font-size: 20px;
  transition-property: opacity;
  transition-duration: 600ms;
}

td.add-col:hover,
td.add-row:hover,
td.del-row:hover,
td.del-col:hover {
  opacity: .6;
}

